.headphones-speakers-earphones-container {
    display: grid;
    grid-template-rows: 33.6rem 1fr 28.4rem 63.3rem 36.5rem;
    gap: 16rem;

    @include media-tablet {
        grid-template-rows: 33.6rem 1fr 21.7rem 63.3rem 40rem;
        gap: 16rem;
    }

    @include media-mobile {
        grid-template-rows: 19.2rem 1fr 68.3rem 69.8rem 65.4rem;
        gap: 16rem;
    }
}

.header-background {
    background-color: $nav-color;
    height: 23.9rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-mobile {
        height: 10.2rem;
    }

    h2 {
        color: $color-light;
    }
}

main.main-products-categories {
    max-width: 111rem;
    @include center (column);
    gap: 16rem;
    margin: auto;

    @include media-mobile {
        gap: 12rem;
    }

    .product-section-category {
        @include center;
        gap: 12.5rem;

        @include media-tablet {
            @include center (column);
            gap: 5.2rem;
        }

        picture {
            img {
                max-width: 54rem;
                height: 56rem;

                @include media-tablet {
                    max-width: 68.9rem;
                    height: 35.2rem;
                }

                @include media-mobile {
                    max-width: 32.7rem;
                    height: 35.2rem;
                }
            }
        }

        .product-section-category-text {
            p.overline {
                color: $primary;
            }

            p.p-text {
                @include media-tablet {
                    text-align: center;
                }
            }

            h2 {
                @include media-tablet {
                    text-align: center;
                }

                @include media-mobile {
                    @include heading-styles (2.8rem, 3.8rem, 0.1rem);
                }
            }
        }
    }
}
