header {
    @include media-mobile {
        height: 60rem;                 
    }

    #header-container {
        #header-background {
            height: 64rem;
            background-image: url(/assets/home/desktop/image-hero-copy.jpg);
            background-size: 100% 100%;
            background-repeat: no-repeat;

            // animation: first_background_anim 3s 1;
            //         @keyframes first_background_anim {
            //             0%{
            //                 background-image: none;
            //                 background-color: $nav-color;
            //             }
            //             90% {
            //                 background-color: $nav-color;
                            
            //             }
            //             100%{
            //                 background-image: url(/assets/home/desktop/image-hero-copy.jpg);
                            
            //             }
            //         }

            @include media-tablet {
                background-image: url(/assets/home/tablet/image-header.jpg);
                background-size: 100% 100%;
                height: 64rem;
                background-repeat: no-repeat; 
            }

            @include media-mobile {
                background-image: url(/assets/home/mobile/image-header.jpg);
                background-size: 100% 100%;
                height: 51rem;
                background-repeat: no-repeat;                  
            }

            #header-section-wrapper {
                @include flex (center, flex-start);
                max-width: 111rem;
                height: 100%;
                margin: auto;

                @include media-tablet {
                    @include center;
                }

                #header-section {
                    @include flex (flex-start, center, column);
                    color: $color-light;
                    max-width: 37.9rem;
                    height: 34.6rem;
                    gap: 4rem;
                    animation: first_text_anim 6s 1;
                    @keyframes first_text_anim {
                        0%{
                          opacity: 0;
                        }
                        20% {
                            opacity: 0; 
                        }
                        100%{
                          opacity: 1;
                        }
                      
                      }

                    @include media-tablet {
                        @include flex (center, center, column);
                    }

                    @include media-mobile {
                        @include flex (center, center, column);
                        max-width: 32.8rem;
                        height: 29rem;
                    }
                    
                    #header-section-text-wrapper {
                        @include flex (flex-start, center, column);
                        gap: 2.4rem;   
                        
                        @include media-tablet {
                            @include flex (center, center, column);
                        }

                        #header-new-product {
                            color: $color-light;
                            mix-blend-mode: normal;
                            opacity: 0.5;
                        }

                        #header-h1 {
                            color: $color-light;

                            @include media-tablet {
                                text-align: center;
                            }
                        }

                        #header-text {
                            font-family: 'Manrope';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 1.5rem;
                            line-height: 2.5rem;
                            color: $color-light;
                            mix-blend-mode: normal;
                            opacity: 0.75;
                            color: $color-light;
                            width: 34.9rem;
                            height: 7.5rem;

                            @include media-tablet {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}